@font-face {
  font-family: TTTGB-Medium;
  src: url(../font/TTTGB-Medium.ttf);
}

.demo1 {
  font-size: 20px;
  background-image: -webkit-linear-gradient(top, blue, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  border: 1px solid #000;
  font-family: TTTGB-Medium;
}